body {
    background-color: #CAE9FF;
    margin: 50px;
}

h1 {
    color: #62B6CB;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
}

p {
    color: #1B4965;
    font-family: Arial, sans-serif;
    padding: 10px;
}
